<div class="bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">
        <i class="fas fa-user-secret me-2"></i>MCWebPanel
    </div>
    <div class="list-group list-group-flush my-3">
        <button type="submit" class="list-group-item list-group-item-action bg-transparent second-text active">
            <i class="fas fa-tachometer-alt me-2"></i>Dashboard
        </button>
        <button type="submit" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
            <i class="fas fa-regular fa-ban me-2"></i>Ban
        </button>
        <button type="submit" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
            <i class="fas fa-comment-dots me-2"></i>Chat
        </button>
        <button type="submit" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
            <i class="fas fa-solid fa-users me-2"></i>Comptes
        </button>
        <button id="nav-logout" type="submit" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold">
            <i class="fas fa-power-off me-2"></i>Déconnexion
        </button>
    </div>
</div>
