<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 mx-auto">
            <div class="card bg-light text-dark">
                <div class="card-body">
                    <h1 class="text-center mb-4">Connexion</h1>
                    <form method="POST">
                        <div class="mb-3">
                            <label for="username" class="form-label">Email ou nom d'utilisateur</label>
                            <input type="text" class="form-control" name="username" id="username"
                                   placeholder="Entrez votre email ou nom d'utilisateur">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Mot de passe</label>
                            <input type="password" class="form-control" name="password" id="password"
                                   placeholder="Entrez votre mot de passe">
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Se connecter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

